OVCMOVE_DbConfig__SQLServer__ConnectionString=Server=tcp:ovc-move-db-sql-server-01.database.windows.net,1433;Initial Catalog=ovc-move-db-sql-server-01;Persist Security Info=False;User ID=ovc-move-admin;Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;
OVCMOVE_ExternalServicesConfig__EmailService__Email=oispvolunteerclub.com
OVCMOVE_ExternalServicesConfig__EmailService__Password=your_email_password
